  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  
  .bg-1 { 
    background-color: #eeeeee; /* light grey */
    color: #303030;
  }
  .bg-2 { 
    background-color: #ffffff; /*White */
    color: #303030;
  }
  .bg-3 { 
    background-color: #404040; /* Dark Gray */
    color: #fff;
    height: 15px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    
  }
  .bg-4 { 
    background-color: #303030; /* Dark Gray */
    color: #fff;
    padding: 0;
  }
  .bg-3 a { 
    color: #fff;
  }
  .bg-3 a:hover { 
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
  }
  
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .jumbotron {
    background-color: #D9534F;
    color: #fff;
    padding: 150px 50px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #D9534F;
    font-size: 50px;
  }
  .logo {
    color: #D9534F;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #D9534F;
  }
  .carousel-indicators li {
    border-color: #D9534F;
  }
  .carousel-indicators li.active {
    background-color: #D9534F;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #D9534F; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #D9534F;
    background-color: #fff !important;
    color: #D9534F;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #D9534F !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #D9534F;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #D9534F;
    z-index: 9999;
    border: 0;
    font-size: 20px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-size: 15px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #D9534F !important;
    background-color: #fff !important;
    font-weight: bolder;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  .navbar-toggle .icon-bar {
      border-color: transparent;
    color: #fff !important;
  
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #D9534F;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  .pagetitle {
  	font-size: xx-large;
  	vertical-align: bottom;
  	font-weight: 500;
  }
  .memTable  {
    width: 60%;
    margin: auto;
    text-align: left;
  }
	
	td {
	text-align: left;
	
	}
	
	.ranklist{
	 width: 800px;
	 height: 100px;
	 margin: auto;
	 padding: 8px;
	 text-align: left;
	 background-color: #eeeeee;
	 color: black; 
	}
	
	.ranklist:hover{
	 background-color: #404040;
	 color: white;
	 font-weight: bolder;
	}
	
	.ranklist a{
	 color: black;
	}
	
	.ranklist:hover a{
	 color: white;
	}
	
	.cont-poster{
	 width: 85px;
	 height: 85px;
	}
	
	.cont-rank{
	 width: 40px;
	 height: 85px;
	 padding-left: 10px;
	 text-align: right;
	 font-size: 25px;
	 font-weight: 800;
	}
	
	.cont-title{
	 width: 690px;
	 height: 85px;
	 font-size: 20px;
	 font-weight: 500;
	}
	
	.hide{
	 visibility: hidden;
	}
	
	.btnarea {
		text-align: center;
	}
	
	.backcolor{
		 background-color: #eeeeee;
	}
	
	#searchfield{
	margin-top: 20px;
	padding-top: 50px;
	
	}
	
	.ott_search{
	padding-bottom: 20px;
	--text-align: left;
	}
	
	.ott_search button{
		border: none;
		width: 55px;
		height: 50px;
	}

	.ott_search img{
		border-radius: 7px;
		width:50px;
	}
	
	.chart_wrap{
		width: 500px;
		height: 500px;
		text-align: center;
		font-size: 20px;
		--border: solid 1px black;
		margin: auto;
		padding-bottom: 20px;
	}

  .ck-editor__editable { 
  		min-height: 400px; 
  }

  .searchFiedlTh{
		text-align: center;
		vertical-align: bottom;
  }
	
		.account-bg{
		margin: 30px;
		text-align: center;
		vertical-align: middle;
		width:500px;
		height:316px;
		background-repeat: no-repeat;
		position: relative;
	}
	.account-info-wrap{
		position: absolute;
		bottom: 10px; 
		left: 10px;
		width:480px;
		height:100px;
		--background: white;
	}
	.account-info-top{
		position: absolute;
		top: 5px; 
		left: 5px;
		width:390px;
		height:45px;
		text-align: left;
		vertical-align: middle;
		padding: 20px 0px 5px 10px;		
		font-size: 15px;
		font-weight: 1000;						
	}
	.account-info-below{
		position: absolute;
		bottom: 5px; 
		left: 5px;
		width:390px;
		height:45px;
		text-align: left;
		padding: 5px;
		font-size: 20px;
		font-weight: 800;				
	}
	.account-btn{
		position: absolute;
		bottom: 5px; 
		right: 5px;
		width:80px;
		height:45px;
		--background: yellow;			
	}

	.my-btns{
		width:80%;
		height:500px;		
		--background: white;
		position: absolute;
		
	}
	
	#my-wrapper{
		width:50%;
		height:1000px;		
		position: relative;
		margin: auto;
		--background: grey;
		padding:5%;		
	}


  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }